:root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to top, #047cdf, #acafb1);
    font-family: cursive;
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
}

.wrapper{
    height: 700px;
    width: 500px;
    margin-left: 50px;
    text-align: center;
    scale: 1;
    z-index: 1;
}

.wrapper1{
    position: absolute;
    margin-top: 120px;
    height: 700px;
    width: 500px;
    margin-left: 50px;
    text-align: center;
    scale: 0;
    z-index: 100;
}

.header{
    font-size: 12px;
    font-weight: 700;
}

.card1{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.yourWeatherTab{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.searchWeatherTab{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* this calssIsToVisibleTheBgOfTABS */
.activeForTabBg{
    background-color: rgb(184, 196, 197, 0.5);
}

.card2{
    width: 100%;
    height: 230px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.location{
    height: 50px;
    display: flex;
    justify-content: center;
}

.areaNameDiv{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.countryImgDiv{
    margin-top: 25px;
}

.Update{
    height: 100px;
}

/* .areaUpdateDiv{

} */

/* .areaUpdate{

} */

.areaUpdateImgDiv{
    height: 35px;
    margin-top: -10px;
    margin-bottom: 30px;
}

/* .areaUpdateImg{

} */

.temprature{
    margin-top: -20px;
    height: 90px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.card3{
    margin-top: -10px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.windSpeedDiv{
    width: 28%;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(210, 245, 248, 0.5);
    /* width: 28%; */
}

.humidityDiv{
    width: 28%;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(210, 245, 248, 0.5);
    /* width: 28%; */
}

.cloudyDiv{
    width: 28%;
    border-radius: 5px;
    height: 100%;
    background-color: rgba(210, 245, 248, 0.5);
    /* width: 28%; */
}

.wrapper2{
    margin-top: 200px;
    /* border: 1px solid black; */
    position: absolute;
    height: 500px;
    width: 500px;
    margin-left: 50px;
    text-align: center;
    scale: 0;
    z-index: 101;
}

.searchBar_Form{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    height: 30px;
    width: 90%;
    /* margin-top: 180px; */
}

.searchBarDiv{
    margin-right: 5px;
    margin-left: 60px;
}

.searchBar{
    appearance: none;
    width: 300px;
    height: 30px;
    background-color: rgb(189, 234, 238, 0.5);
    border: none;
    border-radius: 5px;
}

.searchBtnDiv{
    height: 30px;
    width: 30px;
}

.searchBtn{
    border-radius: 15px;
    border: none;
    background-color: rgba(244, 246, 247, 0.988);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* .wrapper1Active{
    scale: 0;
} */

/* .wrapperDeactive{
    scale: 0;
} */

.wrapper2{
    .card2, .card3{
        scale: 0; /*it will go as 0*/
    }
}

.wrapper2Active{
    .card2, .card3{
        scale: 1; /*it will go as 0*/
    }
}

.addBgColor{
    background-color: rgb(184, 196, 197, 0.8);
}

.clearBgColor{
    background-color: transparent;
}

/* .wrapper2active{
    scale: 1;
} */

.wrapper3{
    /* border: 1px solid black; */
    margin-top: -200px;
    margin-left: 50px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 110;
    scale: 0;
}

.locationImg{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.grantLocationHeadingDiv{
    height: 50px;
    width: 400px;
    font-size: 12px;
    text-align: center;
}

.wrapper3ParaDiv{
    /* border: 1px solid black; */
    height: 50px;
    width: 400px;
    text-align: center;
    margin-bottom: 10px;
}

.grantAccessBtnDiv{
    /* border: 1px solid black; */
    height: 25px;
    width: 120px;
}

.grantAccessBtn{
    border: 1px solid black;
    border-radius: 5px;
    border: none;
    background-color: rgb(111, 156, 181);
    padding: 5px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.grantAccessBtn:hover{
    cursor: pointer;
    background-color: transparent;
}

.wrapper4{
    /* border: 1px solid black; */
    background-color: transparent;
    margin-top: -250px;
    margin-left: 180px;
    height: 400px;
    width: 400px;
    z-index: 50;
    scale: 0;
}

.loaderDiv{
    transform: translateX(60px);
    /* border: 1px solid black; */
    height: 80px;
    width: 60px;
    text-align: center;
    scale: 1.5;
}

.spinner-6 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: s6 1s infinite linear;
}
.spinner-6::before,
.spinner-6::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.spinner-6::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.spinner-6::after {
  margin: 8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}

.wrapper5{
    scale: 0;
    width: 412px;
    height: 236px;
    .notFound{
        width: 412px;
        height: 236px;
    }
}

.wrapper5notFoundActive{
    border-style: hidden;
    width: 412px;
    height: 236px;
    mix-blend-mode: multiply;
    margin-top: -350px;
    margin-left: 100px;
    /* scale: 1; */
    box-shadow: 21px 200px 400px 200px rgba(165,34,34,0.41);
    scale: 3;
    z-index: -1;
}

.active{
    scale: 1;
}

.deactive{
    scale: 0;
}